.event-image {
	width: 200px;
	height: 150px;
	float: left''
}

.event-header {
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1em;
}

.event {
	padding-right: 1em;
	padding-bottom: 2em;
}

#footer {
	bottom: 0px; 
}

.event-detail {
	font-size: 0.75em;
	padding-right: 1.5em;
	text-align: left;
}

#logo {
	padding-top: 1.5em;
	width: 150px;
	height: 50px
}
